* {
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
}

html {
  background-color: #121212;
  display: flex;
  justify-content: center;
}

body {
  width: 800px;
  height: 100vh;
  margin-top: 1.5em;
  position: relative;
}

header {
  background: url(images/THJJRUhNlEc.png) no-repeat;
  height: 30%;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  color: white;
  background-color: #1c1c1c;
}

header h1 {
  font-size: 3.5rem;
  font-weight: 820;
}

header a {
  color: white;
  text-decoration: none;
  font-size: 1.3em;
  font-weight: 710;
}

main {
  width: 100%;
  height: 400vh;
  padding-top: 7em;
  color: white;
  background-color: #1c1c1c;
}

form {
  text-align: center;
  background-color: transparent;
  position: absolute;
  top: 250px;
  background-color: #2e2e2f;
  justify-self: center;
  border-radius: 10px;
}

form input,
button {
  height: 60px;
  font-size: 1.3rem;
  border: none;
  color: white;
}

input {
  background: url(images/Icon.png) no-repeat;
  background-position: 25px center;
  padding-left: 3.3em;
  background-size: 25px;
  width: 450px;
  border-radius: 10px 0 0 10px;
}

input:focus {
  outline: none;
}

form button {
  width: 190px;
  background-color: #4b4b4b;
  border-left: 1px solid #4b4b4b;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
  transition: all 0.2s ease;
}

form button:active {
  background-color: #d1d5db;
  transform: translateY(1px);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2) inset;
}

.explore-img {
  position: absolute;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
}

.movie-container {
  width: 640px;
  height: 254.69px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  gap: 30px;
  margin-bottom: 4em;
  border-bottom: #640d0d;
}

.movie-poster {
  width: 172.08;
  border-radius: 5px;
}

.movie-details {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 20px;
  margin-top: 1em;
}

.genre,
.genre div {
  display: flex;
  align-items: center;
}

.genre-details {
  margin-right: 1em;
  display: flex;
}

.mins {
  margin-right: 1em;
}

.watchlist {
  margin-left: 0.5em;
}

.movie-p {
  font-size: 1.3rem;
  line-height: 1.5;
  color: #a5a5a5;
  margin: 0;
}

.movie-details h2 {
  font-weight: 550;
}

.genre-details span {
  font-weight: 350;
}

hr {
  background-color: #4b4a4a;
  margin-bottom: 3em;
  width: 80%;
  border: none;
  height: 3px;
}

.add-watchlist,
.remove-btn {
  cursor: pointer;
}

.watchlist-msg {
  text-align: center;
  margin-top: 20%;
}

.watchlist-msg div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.watchlist-msg h1 {
  color: #787878;
}

.watchlist-msg div img {
  cursor: pointer;
}

#search-movies,
#my-watchlist {
  cursor: pointer;
}

.movie-card {
  border-bottom: 2px solid #4b4a4a;
  padding-bottom: 2em;
}
